body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: #e1af86;
}

.jvectormap-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}